.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
output/*/
docs/*
historical_data/*
output/*.rds
input/*/preparation/*/*
input/*/*
input/her.27.3a47d/preparation/*.png
input/her.27.3a47d/preparation/*.pdf
!input/*/preparation
*tmp.rds
*tmp*.rds
tmp*
renv
*.zip
*.xlsx

